<main>
    <h2 class="Titulos-categorias"> Todos los resultados </h2>



    {{#if error}}
        <p style="color: red;">{{error}}</p>
    {{/if}}

    {{#if pacientes}}
        <h2>Pacientes con Citas Canceladas o Reprogramadas en el Último Mes</h2>
        <table>
            <thead>
                <tr>
                    <th>Nombre del Paciente</th>
                    <th>Fecha de Cita</th>
                    <th>Estado de la Cita</th>
                </tr>
            </thead>
            <tbody>
                {{#each pacientes}}
                    <tr>
                        <td>{{this.nombre_paciente}}</td>
                        <td>{{this.fecha}}</td>
                        <td>{{this.estado}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <p>No se encontraron citas canceladas o reprogramadas en el último mes.</p>
    {{/if}}


</main>