<main>
    <h2 class="Titulos-categorias"> Todos los resultados </h2>


<h1>Informe de Facturación Mensual</h1>

    {{#if error}}
        <p style="color: red;">{{error}}</p>
    {{/if}}

    {{#if facturacion}}
        <table>
            <thead>
                <tr>
                    <th>Nombre del Paciente</th>
                    <th>Nombre del Médico</th>
                    <th>Total Facturado</th>
                </tr>
            </thead>
            <tbody>
                {{#each facturacion}}
                    <tr>
                        <td>{{this.Nombre_Paciente}}</td>
                        <td>{{this.Nombre_Medico}}</td>
                        <td>${{this.Total_Facturado.toFixed(2)}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <p>No se encontraron facturas para este mes.</p>
    {{/if}}


</main>