<main>
    <h2 class="Titulos-categorias"> Todos los resultados </h2>

    <form action="/consulta1" method="GET">
    <label for="idMedico">ID del Médico:</label>
    <input type="number" id="idMedico" name="idMedico" required>
    <button type="submit">Consultar</button>
    </form>

    <h1>Citas Programadas</h1>

    {{#if error}}
    <p style="color: red;">{{error}}</p>
    {{/if}}

<!-- Mostrar las citas si están disponibles -->
{{#if citas}}
    <h2>Citas Programadas</h2>
    <ul>
        {{#each citas}}
            <li>
                <strong>Fecha:</strong> {{this.fecha}} <br>
                <strong>Hora:</strong> {{Hora}} <br>
                <strong>Paciente:</strong> {{Nombre_Paciente}} <br>
                <strong>Motivo:</strong> {{Motivo}}
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No se encontraron citas para este médico.</p>
{{/if}}


</main>