<main>
    <h2 class="Titulos-categorias"> Todos los resultados </h2>

<h1>Medicamentos con menor stock y fechas de caducidad próximas</h1>

    {{#if error}}
        <p style="color: red;">{{error}}</p>
    {{/if}}

    {{#if productos}}
        <table>
            <thead>
                <tr>
                    <th>Nombre del Producto</th>
                    <th>Cantidad</th>
                    <th>Fecha de Caducidad</th>
                </tr>
            </thead>
            <tbody>
                {{#each productos}}
                    <tr>
                        <td>{{this.nombre_producto}}</td>
                        <td>{{this.cantidad}}</td>
                        <td>{{this.fecha_caducidad}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <p>No se encontraron productos con bajo stock o con fecha de caducidad próxima.</p>
    {{/if}}


</main>